*{
    margin: 0;
    padding: 0;

}


.head-image img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading{
    /* border: 2px solid black; */
   /* width: 150px; */
   position: absolute;
   top: 12%;
   left: 0;
}
.head-1 {
    width: 450px;
    /* background: rgba(95, 94, 92, 0.541); */
    background: rgba(133, 223, 245, 0.486);
    display: flex;
    position: relative;
    top: 12%;
    left: 0;
    flex-direction: row-reverse;
    margin: 8px 0px;

    animation-name: sweep;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* animation-delay: 1s; */

}
@keyframes sweep{
    from{
        width: 0px;
    }
    to{
        width: 450px;
    }
}




.head-2 {
    width: 600px;
    /* background: rgba(95, 94, 92, 0.541); */
    background: rgba(133, 223, 245, 0.486);
    display: flex;
    position: relative;
    top: 16%;
    left: 0;
    flex-direction: row-reverse;
    margin: 8px 0px;

    animation-name: sweep2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* animation-delay: 1s; */

}
@keyframes sweep2{
    from{
        width: 0px;
    }
    to{
        width: 600px;
    }
}






.head-3 {
    width: 750px;
    /* background: rgba(95, 94, 92, 0.541); */
    background: rgba(133, 223, 245, 0.486);
    display: flex;
    position: relative;
    top: 19%;
    left: 0;
    flex-direction: row-reverse;
    margin: 8px 0px;

    animation-name: sweep3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* animation-delay: 1s; */
}
@keyframes sweep3{
    from{
        width: 0px;
    }
    to{
        width: 750px;
    }
}




.head-1 h1, .head-2 h1, .head-3 h1{
    font-size: 2.5rem;
    margin: 4px;
    /* color: rgba(116, 224, 252, 0.959); */
    color: white;


}

/* navigation  */
nav{
    position: relative;
    top: 350px;
    left: 0;
    /* border: 2px solid black; */
    padding: 11px;
    /* background: rgb(11, 114, 146); */
    background: linear-gradient(to right, rgb(11, 114, 146),rgb(235, 141, 141));
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin: 11px auto;
    list-style: none;
}
nav ul li a{
text-decoration: none;
font-size: 1.8rem;
color: white;
text-shadow: 1px 1px 5px black;
}
nav ul li a:hover{

color: rgb(247, 83, 83);
}
/* humburger icon  */
.open{
    font-size: 2rem;
    margin: 17px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2%;
}

.close{
    font-size: 2rem;
    margin: 17px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2%;
}











/* section  */
section{
    position:absolute;
    top: 427px;
    left:0;
}

.head-poster img{
    height: 450px;
    width: 100%;
    object-fit: cover;
    /* position: relative;
    top: 0;
    left: 0; */
    box-shadow: 2px 7px 5px black;
}
.head-poster h2{
    /* border: 2px solid black; */
    display: flex;
    position: absolute;
    top: 6%;
    right: 1%;
    font-size: 2.2rem;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.section-para{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    margin: auto;
    /* margin: 13px; */

}
.section-para p{
    
    text-align: center;
    justify-content: center;
    margin: 13px;
    padding: 11px;
    font-size: 1.5rem;
    border-bottom: 2px solid black;
}
.offers-1st{
    /* border: 2px solid black; */
    margin: auto;
}
.offers-1st img{
    height: 250px;
    width: 30%;
    object-fit: cover;
    margin: 11px 19px;
    /* padding: 12px 12px; */
}
.offwhite{
position: absolute;

}
.offers-2nd{
    display: flex;
    /* border: 2px solid black; */
    
}

.offers-2nd img{
    height: 350px;
    width: 50%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}
.cent {
    /* border: 2px solid blueviolet; */
    height: 100px;
    width: 50%;
    position:absolute;
    top: 42%;
    left: 25%;
    text-align: center;
    margin: auto auto;
    display: flex;
    color: white;
    
    background: rgba(87, 87, 87, 0.459);
}

.cent p{
    display: flex;
    margin: auto auto;
    font-size: 1.2rem;
}
.catg-item1{
position: relative;
top:350px;
left: 0;
display: flex;
padding: 11px;

}
.catg-item1 img{
    width: 45%;
    height: 450px;
    /* object-fit: cover; */
    object-fit: cover;
}
.catg-para{
    width: 50%;
    display: flex;
    margin: auto auto;
    text-align: center;
}
.catg-para p{
     width: 65%;
    display: flex;
    margin: auto auto; 
    font-size: 1.2rem;
}

/* second section  */
.catg-item2{
    position: relative;
    top:350px;
    left: 0;
    display: flex;
    padding: 11px;
    flex-direction: row-reverse;
    }
    .catg-item2 img{
        width: 45%;
        height: 450px;
        /* object-fit: cover; */
        object-fit: cover;
        
    }


/* footer section  */
footer{
    height: 225px;
  
    position: relative;
 
    top: 350px;
  
    background: #183153;
    z-index: 100;
}
.all-contex{
    display: flex;
}
.contex{
    /* border: 2px solid black; */
    width: 33%;
    
}
.contex ul{
    padding: 13px;
    margin: 20px;
}
.contex ul li{
    list-style: none;
    /* margin: auto auto; */
    
}
.contex ul li a{
    text-decoration: none;
    display: flex;
    margin: 3px auto;
    text-align: center;
    justify-content: center;
    color: white;
}
.contex ul li a:hover{
    color: cyan;
}


.license{
    /* border: red; */
    text-align: center;
}
.license a{
    text-decoration: none;
    color: white;
}

.social li i{
font-size: 1.8rem;
margin: 5px;
}
.social li i:hover{
    color: white;
}


.fab.fa-facebook{
    color: #4b7be0 ;
}
.fab.fa-instagram
{
    color: #8a3ab9;
}
.fab.fa-whatsapp
{
    color:   #4fce5d;
}
/* footer addres  */

.address li {
    color: white;
    text-align: center;
}

/* 1st meadi query  */

@media only screen and (max-width: 1220px)
{
   
    .offers-1st img{
        height: 350px;
        width: 33%;
        object-fit: cover;
        margin: auto auto;
        /* padding: 12px 12px; */
        justify-content: center;
    }


}



@media only screen and (max-width: 798px)
{
    .head-1 {
        width: 300px;
    
    }
    @keyframes sweep{
        from{
            width: 0px;
        }
        to{
            width: 300px;
        }
    }


    .head-2 {
        width: 350px;
        animation-name: sweep2;
        animation-duration: 3s;
        animation-iteration-count: 1;
        /* animation-delay: 1s; */
    
    }
    @keyframes sweep2{
        from{
            width: 0px;
        }
        to{
            width: 350px;
        }
    }

    .head-3 {
        width: 400px;
        animation-name: sweep3;
        animation-duration: 3s;
        animation-iteration-count: 1;
        /* animation-delay: 1s; */
    }
    @keyframes sweep3{
        from{
            width: 0px;
        }
        to{
            width: 400px;
        }
    }


    .head-1 h1, .head-2 h1, .head-3 h1{
        font-size: 1.8rem;

    }


    .head-poster h2{
        /* border: 2px solid black; */
        /* display: flex;
        position: absolute; */
        top: 8%;
        right: 1%;
        font-size: 1.6rem;
        /* color: white; */
    }

    .section-para{
        width: 100%;
     
    }

    /* offers image  */

    .offers-1st{
       display: flex;
       flex-direction: column;
       margin: 5px;
    }
    .offers-1st img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        margin: 5px 0;
        /* padding: 12px 12px; */
    }
    .cent {
        /* border: 2px solid rgb(64, 11, 114); */
        height: 110px;
        width: 80%;
        position:absolute;
        top: 42%;
        left: 10%;
        text-align: center;
        margin: auto auto;
        display: flex;
        color: white;
        
        background: rgba(87, 87, 87, 0.459);
    }
    .cent p{
        display: flex;
        margin: auto auto;
        font-size: 1rem;
    }
    .catg-item1{
        flex-direction: column;
       
     }
     .catg-item1 img{
        width: 100%;
     
    }
    .catg-para{
        /* border: 2px solid blue; */
        width: 100%;
        margin: 5px 0;
     
    }
    .catg-para p{   
         width: 75%;
        font-size: 1.2rem;
    }


     .catg-item2{
         flex-direction: column;
     }
     .catg-item2 img{
        width: 100%;
        
    }


}


@media only screen and (max-width: 405px)
{
    section{
        width: 100%;
    }
    .head-image img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }  

footer {
    height: 231px;

}






.head-1 {
    width: 200px;

}
@keyframes sweep{
    from{
        width: 0px;
    }
    to{
        width: 200px;
    }
}


.head-2 {
    width: 250px;
    animation-name: sweep2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* animation-delay: 1s; */

}
@keyframes sweep2{
    from{
        width: 0px;
    }
    to{
        width: 250px;
    }
}

.head-3 {
    width: 300px;
    animation-name: sweep3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* animation-delay: 1s; */
}
@keyframes sweep3{
    from{
        width: 0px;
    }
    to{
        width: 300px;
    }
}


.head-1 h1, .head-2 h1, .head-3 h1{
    font-size: 1.5rem;

}


}

/* humberger responsive style  */
@media only screen and (max-width: 570px)
{
    nav{
       height: 40px;
    }
    nav .main{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgb(11, 114, 146),rgb(235, 141, 141));
        transition: top 1s ease;
        display: none;
    }
    nav .main .close{
        display: block;
        position: absolute;
        top: 11px;
        right: 13px;
    }
    nav .open{
        display: block;
    }
    nav .main li a:hover{
        background: none;
        color: white;
        font-size: 1.5rem;
    }
    







}







